.banner {
    background-color: red;
    background-image: url(../img/Hero.jpg) ;
    background-position: center;
    background-size : cover;
    height: 352px; 
    color: var(--white);
    padding: 0rem 10rem ;
    position: relative;
}
.banner div{
    position: absolute;
    bottom: 3rem;
}
.banner__title{
    font-size: 5.4rem;
    margin: 0;
}
.banner__text{
    font-size: 2.2rem;
    margin: 1.5rem 0 ;
}